 $color-primary: rgba(26, 102, 121, 0.911);
 $color-secondary: rgba(180, 14, 69, 0.733);
 $color-tertiary: #2aa37b;

 .stories__featured {
     &-main {
         display: flex;
         flex-direction: column;
         align-items: center;
         gap: 3rem;
         margin-bottom: 10rem;

     }

     &-heading {
         margin-top: 3rem;
         font-size: 1.5rem;
         text-transform: uppercase;
         font-weight: 600;
         color: $color-primary;
         transition: all 0.5s ease-in-out;

         &:hover {
             box-shadow: 1px 2px 20px rgba($color: ($color-primary), $alpha: 0.1);
             background: linear-gradient(90deg, $color-primary, $color-secondary, $color-tertiary);
             background-clip: text;
             -webkit-background-clip: text;
         }
     }

     &-section {
         width: 40rem;
         height: 13rem;
         color: #555;
         display: block;
         background-color: white;
         box-shadow: 2px 4px 15px rgba(136, 136, 136, 0.411);
         transform: skewX(-12deg);
         border-radius: 7px;
     }

     &-container {
         display: flex;
         flex-direction: row;
         justify-content: center;
         align-items: center;
         padding: 0rem 2rem;
         margin-top: 2.5rem;
         font-size: 0.8rem;
         gap: 1rem;
         transform: skewX(12deg);


     }

     &-card1 {

         &-heading {
             width: 70%;
         }

         &-heading>h3 {
             font-weight: 600;
             text-transform: uppercase;
             padding-bottom: 0.3rem;


         }

         &-heading>p {}

         &-img {
             border-radius: 50%;
             width: 8rem;
             height: 8rem;

         }
     }
 }