 $color-primary: white;
 $color-secondary: rgba(180, 14, 69, 0.733);
 $color-tertiary: #2aa37b;

 @mixin responsive($breakpoint) {
     @if $breakpoint==phone {
         @media (max-width:42em) {
             @content
         }
     }

 }

 .stories__featured {
     &-main {
         width: 100%;
         height: 100%;
         position: relative;
         display: flex;
         flex-direction: column;
         align-items: center;
         gap: 3rem;

         z-index: 20;
         overflow: hidden;
         backface-visibility: hidden;

     }

     &-video {
         position: absolute;
         border-radius: 10px;

         //  max-width: 100%;
         //  max-height: 100%;
         z-index: -1;
         filter: brightness(50%);
         object-fit: cover;
         //  opacity: 0.5;
     }


     &-heading {
         margin-top: 2rem;
         font-size: 1.5rem;
         text-transform: uppercase;
         font-weight: 600;
         color: $color-primary;
         transition: all 0.5s ease-in-out;

         &:hover {
             box-shadow: 1px 2px 20px rgba($color: ($color-primary), $alpha: 0.1);
             background: linear-gradient(90deg, $color-primary, $color-secondary, $color-tertiary);
             background-clip: text;
             -webkit-background-clip: text;
         }
     }

     &-section {

         //  opacity: 0.9;

         @include responsive(phone) {
             width: 35rem;
             height: 14rem;
         }

         width: 40rem;
         height: 13rem;
         color: #555;
         display: block;
         background-color: rgba(255, 255, 255, 0.788);
         box-shadow: 2px 4px 15px rgba(136, 136, 136, 0.411);
         transform: skewX(-12deg);
         border-radius: 7px;
     }

     &-container {
         display: flex;
         flex-direction: row;
         justify-content: center;
         align-items: center;
         padding: 0rem 2rem;
         margin-top: 2.5rem;
         font-size: 0.8rem;
         gap: 1rem;
         transform: skewX(12deg);

         @include responsive(phone) {
             font-size: 0.9rem;
             margin-top: 1rem;
             gap: 1.3rem;
         }
     }

     &-card1 {
         position: relative;


         &:hover &-caption {
             z-index: 2;
             opacity: 1;
             transform: translateY(40%);
         }

         &:hover &-img {
             transform: scale(0.9);
             filter: blur(1px) brightness(80%);

         }

         &-heading {
             width: 100%;
         }

         &-caption {
             transition: all 0.5s ease-in-out;
             position: absolute;
             font-size: 1.3rem;
             text-align: center;
             top: 0;
             left: 0;
             transform: translate(0, 100%);
             box-decoration-break: clone;
             padding: 0.3rem;
             font-weight: 500;
             color: white;
             opacity: 0;
             text-transform: uppercase;
             backface-visibility: hidden;

         }

         &-heading>h3 {

             @include responsive(phone) {
                 font-size: 1.32em;
             }

             font-weight: 600;
             text-transform: uppercase;
             padding-bottom: 0.3rem;

             &+p {
                 @include responsive(phone) {
                     font-size: 0.9rem;
                 }

             }

         }


         &-img {
             transition: all 0.5s ease-in-out;
             border-radius: 50%;
             width: 8rem;
             height: 8rem;
             transform: scale(1.04);

         }
     }
 }

 .button-section:link,
 .button-section:visited {
     @include responsive(phone) {
         font-size: 1rem;
     }

     border: none;
     padding: 0rem 0 0.4rem 0;
     border-bottom: 1px solid #eee;
     font-size: 0.9rem;
     color: white;
     cursor: pointer;
     display: inline-block;
     transition: all 0.5s ease-in-out;
     margin-bottom: 2rem;
     text-decoration: none;

     &:hover {
         color: lighten($color: white, $amount: 40);
         transform: translateY(-2px);
         border-bottom: none;
     }

 }