.Form__section {
    margin: 6rem auto;
    display: block;
    width: 75%;
    border-radius: 10px;
    height: 30rem;
    background-color: white;
    background: linear-gradient(105deg, rgb(255, 255, 255, 0.87)0 50%, rgba(23, 23, 23, 0.2)50% 100%), no-repeat top/cover url(../../../public/nat-10.jpg);
    overflow: hidden;

    &-container {
        width: 50%;
        display: flex;
        flex-direction: column;
        padding: 2rem 2rem;
        height: 100%;

        & form>input {
            font-family: 'Roboto', sans-serif;
            display: block;
            color: inherit;
            height: 2.5rem;
            outline: none;
            border: none;
            width: 70%;
            background-color: rgb(255, 255, 255, .8);
            margin-top: 1.3rem;

            border-bottom: 3px solid transparent;
            transition: all 0.4s ease-in;



            &::placeholder {
                font-size: 0.7rem;
                color: #aaa;
                letter-spacing: 0.2px;
                margin-top: 0;
                padding-left: 0.5rem;
            }


            &:focus {
                box-shadow: 1px 4px 15px rgba(80, 80, 80, 0.18);
                border-bottom: 3px solid rgb(45,
                        219,
                        45);

                & .form-label {
                    opacity: 1s;
                    transform: translateY(20px);
                    z-index: 20;
                }

                &:invalid {
                    border-bottom: 3px solid orangered;
                }
            }
        }


    }

    &-heading {

        font-size: 1.9rem;
        margin-bottom: 1rem;

        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        color: rgba(127, 180, 46, 0.938);
    }

}

.form-btn {
    align-self: flex-start;
    padding: 0.8rem 1rem;
    border-radius: 20px;
    border: none;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 0.9rem;
    background-color: rgb(34, 190, 34);
    margin-top: auto;
    transition: all 0.4s;
    cursor: pointer;

    &:hover {
        transform: translateY(-2px);
    }

}

.checkbox {
    align-items: center;
    gap: .3rem;
    display: flex;
    font-size: 1rem;
    font-family: inherit;

}


.checkbox-container {
    display: flex;
    gap: 2.4rem;

    .checkboxes {


        &>input {
            height: 1rem;
            width: 1rem;
            display: none;

            &:checked+.checkbox .checkbox-custom::after {
                opacity: 1;
            }
        }



        margin-top: 1rem;
    }
}

.form-label {
    font-size: 0.68rem;
    display: inline-block;
    padding-top: 0.3rem;
    opacity: 0;
    transform: translateY(0px);

}

.checkbox-custom {
    // background-color: black;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    border: 3px solid #8C271E;
    display: inline-block;
    box-shadow: inset(12px 2px 15px solid #55ff55);
    position: relative;


    &::after {
        content: "";
        height: 0.77rem;
        width: 0.77rem;
        border-radius: 50%;
        background-color: #1B4965;
        display: inline-block;
        position: absolute;
        top: 1.2px;
        left: 1.1px;
        opacity: 0;


    }
}