@mixin responsive($breakpoint) {
    @if $breakpoint==phone {
        @media (max-width:42em) {
            @content
        }
    }

}

.menu-options {
    height: 100dvh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1500;
    transition: all 0.3s 0.1s ease-in;
    opacity: 0;
    width: 0;
    overflow: hidden;

    &-list {

        list-style: none;
        color: black;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        z-index: 1500;

        & .options a {
            text-decoration: none;
            display: inline-block;
            color: white;
            padding: 1rem;
            font-family: 'Inter', sans-serif;
            font-size: 1.7rem;
            font-weight: 500;
            text-transform: uppercase;
            transition: all 0.6s;
            border-radius: 10px;
            background: linear-gradient(140deg, transparent 0 50%, white 50% 100%);
            background-size: 260%;

            &:hover {

                background-position: 100%;
                color: #777;
                transform: translateX(1rem);


            }

        }
    }
}

.backgrund-menu {
    cursor: pointer;
    width: 2.7rem;
    height: 2.7rem;
    position: fixed;
    border-radius: 50%;
    top: 2.5rem;
    right: 3.3rem;
    color: white;
    box-shadow: 2px 4px 12px rgba(85, 85, 85, 0.288);
    background: radial-gradient(rgb(125, 134, 49), rgb(21, 87, 99));
    z-index: 100;
    transition: all 0.7s ease-in-out;
    // transform: scale(65);

}

.radio-label {
    cursor: pointer;

    @include responsive(phone) {
        width: 4rem;
        height: 4rem;
    }

    text-align: center;
    width: 3rem;
    height: 3rem;
    position: fixed;
    border-radius: 50px;

    background-color: white;
    top: 2.5rem;
    right: 3.1rem;
    z-index: 1000;
}

input[type=checkbox] {
    display: none;


}

.radio {
    &-none {



        &:checked~div.backgrund-menu {
            transform: scale(70);
            z-index: 100;


        }

        &:checked~nav.menu-options {
            opacity: 1;
            width: 100%;
            z-index: 500;

        }

        &:checked~label.radio-label .icon {
            opacity: 1;
            background-color: transparent;
            z-index: 1000;

            &::before {
                @include responsive(phone) {
                    transform: rotate(125deg);
                }

                transform: rotate(140deg);
            }

            &::after {
                @include responsive(phone) {
                    transform: rotate(-130deg) translate(04px, 3px);
                }

                transform: rotate(-130deg) translate(5px, 5px);
            }
        }

    }
}

.radio-label .icon {
    position: relative;

    @include responsive(phone) {
        margin-top: 1.5rem;
    }

    margin-top: 1rem;
    z-index: 1000;

    &,
    &::before,
    &::after {
        content: "";
        width: 1.5rem;
        cursor: pointer;
        height: 2px;
        background-color: black;
        display: inline-block;
        transition: all 0.5s;
    }

    &::after {
        @include responsive(phone) {
            top: -1.55rem;
        }

        position: relative;
        top:-1.72rem;

    }

    &::before {
        @include responsive(phone) {
            top: -0.4rem;
        }

        position: relative;
        top:-0.6rem;
    }
}