@import "../animations.scss";

$color-primary: rgba(26, 102, 121, 0.911);
$color-secondary: rgba(180, 14, 69, 0.733);
$color-tertiary: #2aa37b;
$color-grad1:rgb(255, 185, 0, .6);
$color-grad2:rgb(255, 119, 48, .4);

.section__featured {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;

    &-main {
        margin-top: 4rem;
    }

    &-cards {
        display: flex;
        flex-direction: row;
        gap: 5rem;

    }

    &-heading {
        font-size: 1.5rem;
        text-transform: uppercase;
        font-weight: 600;
        color: $color-primary;
        transition: all 0.5s ease-in-out;

        &:hover {
            box-shadow: 1px 2px 20px rgba($color: ($color-primary), $alpha: 0.1);
            background: linear-gradient(90deg, $color-primary, $color-secondary, $color-tertiary);
            background-clip: text;
            -webkit-background-clip: text;
        }
    }

    &-parr {

        font-size: 0.9rem;
        font-weight: 500;
        // margin-bottom: 1rem;
        font-family: 'Poppins', sans-serif;
        border-bottom: 1px solid #888;
        padding-bottom: 0.4rem;
    }

    @mixin image() {

        & {
            height: 12rem;
            border-radius: 10px 10px 0 0;
            width: 100%;
            overflow-wrap: break-word;
            clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

        }
    }

    &-img-1 {
        @include image();
        background: linear-gradient(to right bottom,
                $color-grad1,
                $color-grad2),
            no-repeat top/cover url(../../../public/nat-5.jpg);


    }

    &-img-2 {
        @include image();
        background: linear-gradient(to right bottom,
                rgba(35, 84, 148, 0.4),
                rgb(23, 134, 172, 0.6)),
            no-repeat top/cover url(../../../public/nat-6.jpg);
    }

    &-img-3 {
        @include image();
        background: linear-gradient(to right bottom,
                rgba(253, 224, 57, 0.4),
                rgba(233, 229, 5, 0.6)),
            no-repeat top/cover url(../../../public/nat-7.jpg);
    }

    @mixin background {
        & {
            border-radius: 10px 0 0 10px;
            text-transform: uppercase;
            color: white;
            font-size: 1.3rem;

            // padding: 0 1rem;
            position: absolute;
            top: 130px;
            left: 120px;
            font-weight: 500;
            display: inline-block;
        }
    }

    &-imgheading {
        @include background();
        background: linear-gradient(to right bottom,
                rgb(255, 185, 0, 1),
                rgb(255, 119, 48, 1));


        &-first {
            display: inline-block;
            text-align: center;

        }


    }

    &-imgheading {


        &-1 {
            @include background();
            background: linear-gradient(to right bottom,
                    rgb(255, 185, 0, 1),
                    rgb(255, 119, 48, 1));

            box-decoration-break: clone;

            &-first {
                display: inline-block;
                text-align: center;
                box-decoration-break: clone;
            }

        }

        &-2 {
            @include background();
            background: linear-gradient(to right bottom,
                    rgba(35, 84, 148, 1),
                    rgb(23, 134, 172, 1));


            &-first {
                display: inline-block;
                text-align: center;

            }

        }

        &-3 {
            @include background();
            background: linear-gradient(to right bottom,
                    rgb(145, 127, 27),
                    rgb(31, 129, 7));


            &-first {
                display: inline-block;
                text-align: center;

            }

        }


    }

    &-card {
        border-radius: 10px;
        width: 18rem;
        position: relative;
        perspective: 150rem;
        -webkit-perspective: 150rem;
        margin: 5rem 0;



        &-back {
            backface-visibility: hidden;
            transform: rotateY(180deg);
            background: linear-gradient(to right bottom,
                    rgb(255, 185, 0, 0.8),
                    rgb(255, 119, 48, 1));
            gap: 2rem;
            width: 100%;
            height: 30rem;

            border-radius: 10px;
            transition: all 0.7s ease-in-out;
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            overflow: hidden;


            &-tag {
                font-size: 1.2rem;
                color: #555;
                font-weight: 600;

            }

            &-price {

                font-size: 3rem;
                font-weight: 500;
            }

            &-button {
                display: inline-block;
                padding: 1rem 2rem;
                font-weight: 600;
                font-size: 1rem;
                border-radius: 2rem;
                color: #888;
                text-transform: uppercase;
                border: none;
                box-shadow: 0px 2px 15px rgba($color: #888, $alpha: 0.4);
                background-color: white;
                margin-top: 4rem;
                transition: all 0.5s ease-out;
                cursor: pointer;
                position: relative;
                z-index: 4;
                transition: all 0.3s;
                animation-name: moveup;
                animation-duration: 1s;
                animation-fill-mode: backwards;
                animation-delay: 0.3s;
                animation-timing-function: ease-out;

                &::after {
                    content: "";
                    display: inline-block;
                    height: 100%;
                    width: 100%;
                    border-radius: 3rem;
                    position: absolute;
                    top: 0;
                    left: 0;
                    color: transparent;
                    background-color: #eee;
                    z-index: -1;
                    transition: all 1s;
                }

                &:hover {
                    box-sizing: border-box;
                    transition: transform 0.5s;
                    transform: translate(0, -3px);

                    /* border-radius: 4rem; */
                    box-shadow: 0px 2px 14px rgb(255, 255, 255, 0.5);

                    &::after {
                        opacity: 0;
                        transform: scale(1.5);
                    }
                }

            }

        }

        &-top {
            box-shadow: 0px 2px 15px rgba($color: #666, $alpha: 0.3);
            backface-visibility: hidden;
            display: inline-flex;
            flex-direction: column;
            gap: 1.5rem;
            height: 30rem;
            align-items: center;
            width: 100%;
            // margin: 2rem 0;
            border-radius: 10px;
            transition: all 0.7s ease-in-out;

        }

        &:hover &-top {
            transform: rotateY(180deg);
        }

        &:hover &-back {
            transform: rotateY(0);
        }
    }

    &-button {
        display: inline-block;
        padding: 1rem 2rem;
        font-weight: 600;
        font-size: 1rem;
        border-radius: 2rem;
        color: #888;
        text-transform: uppercase;
        border: none;
        background-color: $color-tertiary;
        margin-bottom: 4rem;
        cursor: pointer;
        position: relative;
        z-index: 40;
        transition: all 0.3s;
        animation-name: moveup;
        animation-duration: 1s;
        animation-fill-mode: backwards;
        animation-delay: 0.3s;
        animation-timing-function: ease-out;

        &::after {
            content: "";
            display: inline-block;
            height: 100%;
            width: 100%;
            border-radius: 3rem;
            position: absolute;
            top: 0;
            left: 0;
            color: transparent;
            border: none;
            background-color: #eee;
            z-index: -11;
            transition: all 0.4s;
        }

        &:hover {
            color: #eee;
            box-sizing: border-box;
            transition: transform 0.5s;
            transform: translate(0, -3px);
            /* border-radius: 4rem; */
            box-shadow: 0px 2px 14px rgb(255, 255, 255, 0.5);


            &::after {
                transform: scale(1.5);
                opacity: 0;
            }
        }

    }
}