$color-font:transparent;
$color-primary: rgba(26, 102, 121, 0.911);
$color-secondary: rgba(180, 14, 69, 0.733);
$color-tertiary: #28b485;

@mixin boxShadow {
    box-shadow: 0px 5px 15px rgba($color: #555, $alpha: 0.4);
}

.main-section {
    margin-bottom: 10rem;
    margin-top: 2.4rem;

    & .section--button {

        &:link,
        &:visited {
            // max-width: 16%;
            text-decoration: none;

            display: inline-block;
            color: rgb(24, 177, 24);
            margin-bottom: 0.4rem;
            font-size: 0.9rem;
            padding: 0.5rem;
            transition: all 0.3s ease-in-out;
            border-radius: 6px;

        }

        &:hover {

            color: darken($color: rgb(24, 177, 24), $amount: 15);
            border-bottom: none;

        }
    }

    & .section-1 {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        max-width: 80vw;

        & .section--about {
            display: flex;
            flex-direction: column;

            & .section--heading {
                font-size: 1.2rem;
                word-wrap: break-word;
                margin-bottom: 0.4rem;
                text-transform: uppercase;
                font-weight: 700;
                flex: 1;

                &+p {
                    // max-width:50% ;
                    display: inline-block;
                    font-size: 0.8rem;
                    margin-bottom: 2rem;
                    overflow-wrap: break-word;
                    max-width: 70%;
                }
            }
        }
    }

}

.container-heading {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;

    & .heading__secondary-1 {
        font-size: 1.5rem;
        text-transform: uppercase;
        font-weight: 600;
        color: $color-primary;
        transition: all 0.5s ease-in-out;

        &:hover {
            box-shadow: 1px 2px 20px rgba($color: ($color-primary), $alpha: 0.1);
            background: linear-gradient(90deg, $color-primary, $color-secondary, $color-tertiary);
            background-clip: text;
            -webkit-background-clip: text;
        }
    }
}

.section--image {


    & .section-position {
        vertical-align: middle;
        @include boxShadow();
        border-radius: 4px;
        max-width: 100%;
        z-index: 10;
    }

    & .image-1 {
        display: inline-block;
        width: 50%;
        position: relative;
        top: 0px;
        transition: all 0.3s ease-in;

        &:hover {
            z-index: 50;
            transform: scale(1.13);

        }
    }

    & .image-2 {
        display: inline-block;
        position: relative;
        top: 40px;
        left: -50px;
        width: 50%;
        transition: all 0.3s ease-in;

        &:hover {
            z-index: 50;
            transform: scale(1.13);

        }
    }

    & .image-3 {
        display: inline-block;
        position: relative;
        left: 50px;
        top: -35px;
        width: 50%;
        transition: all 0.3s ease-in;

        &:hover {
            z-index: 50;
            transform: scale(1.13);

        }
    }


}