$color-font:transparent;
$color-primary: rgba(26, 102, 121, 0.911);
$color-secondary: rgba(180, 14, 69, 0.733);
$color-tertiary: #28b485;

@mixin boxShadow {
    box-shadow: 0px 5px 15px rgba($color: #555, $alpha: 0.4);
}

@mixin responsive($breakpoint) {
    @if $breakpoint==phone {
        @media (max-width:42em) {
            @content
        }
    }




}

.main-section {
    margin-bottom: 10rem;
    margin-top: 2.4rem;

    @include responsive(phone) {
        margin-bottom: 8rem;
        margin-top: 4rem;
    }

    & .section--button {

        &:link,
        &:visited {
            @include responsive(phone) {
                font-size: 1.3rem;
            }

            // max-width: 16%;
            text-decoration: none;
            display: inline-block;
            color: rgb(24, 177, 24);
            margin-bottom: 0.4rem;
            font-size: 1rem;
            padding: 0.5rem;
            transition: all 0.3s ease-in-out;
            border-radius: 6px;

        }

        &:hover {

            color: darken($color: rgb(24, 177, 24), $amount: 15);
            border-bottom: none;

        }
    }

    & .section-1 {
        @include responsive(phone) {
            gap: 1rem;
            // max-width: 80vw;
            // max-width: 90vw;
        }

        margin: 0 auto;
        display: flex;
        justify-content: center;
        // align-items: center;
        gap: 2rem;
        max-width: 82vw;

        & .section--about {
            display: flex;
            flex-direction: column;
            // justify-content: center;

            & .section--heading {
                @include responsive(phone) {
                    font-size: 1.1rem;
                    font-weight: 600;

                }

                font-size: 1.2rem;
                word-wrap: break-word;
                margin-bottom: 0.4rem;
                text-transform: uppercase;
                font-weight: 700;


                &+p {
                    @include responsive(phone) {
                        font-size: 1rem;
                        margin-bottom: 2rem;
                        overflow-wrap: break-word;
                        max-width: 90%;

                    }

                    // max-width:50% ;
                    display: inline-block;
                    font-size: 0.8rem;
                    margin-bottom: 2rem;
                    overflow-wrap: break-word;
                    max-width: 70%;
                }
            }
        }
    }

}

.container-heading {
    @include responsive(phone) {

        flex: 0;
    }

    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;


    & .heading__secondary-1 {
        @include responsive(phone) {
            font-size: 1.7rem;
        }

        font-size: 1.5rem;
        text-transform: uppercase;
        font-weight: 600;
        color: $color-primary;
        transition: all 0.5s ease-in-out;

        &:hover {
            box-shadow: 1px 2px 20px rgba($color: ($color-primary), $alpha: 0.1);
            background: linear-gradient(90deg, $color-primary, $color-secondary, $color-tertiary);
            background-clip: text;
            -webkit-background-clip: text;
        }
    }
}

.section--image {

    @include responsive(phone) {}

    & .section-position {
        // vertical-align: middle;
        @include boxShadow();
        border-radius: 4px;
        max-width: 100%;
        z-index: 10;
    }

    & .image-1 {
        display: inline-block;
        width: 50%;
        position: relative;
        top: 0px;

        @include responsive(phone) {
            width: 100%;
            // top: 10%;
        }

        transition: all 0.3s ease-in;

        &:hover {
            z-index: 50;
            transform: scale(1.13);

        }
    }

    & .image-2 {
        display: inline-block;
        position: relative;
        top: 40px;
        left: -50px;
        width: 50%;
        transition: all 0.3s ease-in;

        @include responsive(phone) {
            width: auto;
            top: 2px;
            left: 0px;
        }

        &:hover {
            z-index: 50;
            transform: scale(1.13);

        }
    }

    & .image-3 {
        display: inline-block;
        position: relative;
        left: 50px;
        top: -35px;
        width: 50%;
        transition: all 0.3s ease-in;

        @include responsive(phone) {
            width: auto;
            top: 3px;
            left: 0px;
        }

        &:hover {
            z-index: 50;
            transform: scale(1.13);

        }
    }


}