@import "components/animations";

@mixin responsive($breakpoint) {
  @if $breakpoint==phone {
    @media (max-width:42em) {
      @content
    }
  }

}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --font-family: "Lato", sans-serif;
  --color-primary: #7ed56f;
  --color-secondary: #55c57a;
  --color-tertiary: #28b485;
}

html {
  @include responsive(phone) {
    font-size: 55%;


  }
}

body {


  line-height: 1.7;
  font-weight: 400;
  color: #777;
  font-family: var(--font-family);
  scroll-behavior: smooth;




}



.App {
  scrollbar-width: none;
  background-color: #eee;
  overflow: hidden;

}

.form {
  background-color: #309674;

  margin: 0 auto;
  padding: 1rem 0;
}