@import "components/animations";

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --font-family: "Lato", sans-serif;
  --color-primary: #7ed56f;
  --color-secondary: #55c57a;
  --color-tertiary: #28b485;
}

body {
  scroll-behavior: smooth;
  font-size: 62.5%;
  line-height: 1.7;
  font-weight: 400;
  color: #777;
  font-family: var(--font-family);


}

.App {
  background-color: #eee;
  overflow: hidden;

}

.form {
  background-color: #309674;
  // width: 80%;

  margin: 0 auto;
  padding: 1rem 0;
}